* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  /* transition: all 0.2s ease-in; */
}

:root {
  --color-bg-main: #fdf7eb;
  --color-bg-body: #fff;
  --color-accent: #fac040;
  --color-text: #000;
  --color-pink: #e935a4;
  --color-stroke-main: #000;
  --color-stripe-1: #1c4c70;
  --color-stripe-2: #338f9a;
  --color-stripe-3: #7aa9a3;
  --color-offer-card-bg: rgba(250, 192, 64, 0.5);

  --h2-text-size: 2.2rem;
  --h3-text-size: 2rem;
  --h4-text-size: 1.8rem;
}
/* :root {
  --color-bg-main: #0a171d;
  --color-bg-body: #003f48;
  --color-accent: #ffbd77;
  --color-text: #ffbd77;
  --color-pink: #ffbd77;
  --color-stroke-main: #fef6e9;
  --color-stripe-1: #1c4c70;
  --color-stripe-2: #338f9a;
  --color-stripe-3: #7aa9a3;

  --h2-text-size: 2.2rem;
} */

body {
  background-color: var(--color-bg-body);
  color: var(--color-text);
}
a {
  color: var(--color-stroke-main);
}
a,
button {
  cursor: pointer;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: var(--h2-text-size);
}
h3 {
  font-size: var(--h3-text-size);
}

h4 {
  font-size: var(--h4-text-size);
}

p {
  font-size: 1.4rem;
}

.main {
  text-align: center;
  background-color: var(--color-bg-main);
  border-left: 2px solid var(--color-stroke-main);
  border-right: 2px solid var(--color-stroke-main);

  max-width: 70rem;
  margin: 0 0.8rem;
  padding-top: 2.4rem;
  position: relative;
}

.nav {
  margin: 0 1.2rem;
  /* padding: 0.5rem 1.6rem; */
}

.nav__list {
  justify-content: space-between;
}

.nav__list a {
  font-size: 1.4rem;
  color: var(--color-stroke-main);
}

.nav__list li {
  padding: 0.5rem 1.3rem;
}

.image {
  margin: 0 -1.4rem;
}

.section {
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 0 0.8rem;
}

.bg-special {
  background-color: var(--color-pink);
  color: var(--color-bg-main);
  border: 2px solid var(--color-stroke-main);
  max-width: fit-content;
  padding: 0.5rem 1.3rem;
}

.CTA-btn {
  font-size: 2rem;
  background-color: var(--color-accent);
  color: var(--color-text);
  border: 2px solid var(--color-stroke-main);

  max-width: 75%;
  padding: 1.5rem 1.3rem;
  align-self: center;
}

.btn {
  font-size: 1.6rem;
  background-color: var(--color-accent);
  color: var(--color-text);
  border: 2px solid var(--color-stroke-main);

  max-width: fit-content;
  padding: 0.4rem 0.8rem;
  align-self: left;
}

.btn-green {
  background-color: var(--color-stripe-2);
  color: var(--color-bg-main);
}

/* benefit section styles */
.bs-paragraphs {
  gap: 1.6rem;
}

/* about me section styles */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background-image: url(../public/avatar.png);
  background-size: cover;
  background-position: center;
  width: 27rem;
  height: 27rem;
  border: 0.4rem solid var(--color-accent);
  border-radius: 100%;
}

.achievements {
  justify-content: space-between;
}
.achievement {
  width: 25%;
}

.reviews {
  align-items: center;
  padding: 0 1rem;
}

.review {
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 0 1rem;
}

.review-image {
  width: 7.5rem;
  height: 7.5rem;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

/* FAQ styles */
.faq-section {
  flex-direction: column;
  transition: all 0.3s ease;
}

.faq-list li {
  transition: all 0.3s ease;
}
.faq-list div {
  font-size: 1.4rem;
  padding: 1.5rem 0;
  border-top: 2px solid var(--color-stroke-main);
  cursor: pointer;
}

.faq-list li:last-child {
  border-bottom: 2px solid var(--color-stroke-main);
}

.accordion-content-in {
  background-color: #fff;
  border-top: 2px solid var(--color-stroke-main);
  padding: 1.5rem 0;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* stripe component styles */

.stripes {
  gap: 0.4rem;
  width: 100%;
}

.stripe {
  height: 3px;
}

.main-stripes {
  transform: rotate(90deg);
  width: 12.5rem;

  position: absolute;
  top: 5rem;
  left: -2rem;
}

.sec-stripes {
  width: 100%;
  position: absolute;
  top: 7rem;
  left: 5rem;
}

.stripe__color1 {
  background-color: var(--color-stripe-3);
}
.stripe__color2 {
  background-color: var(--color-stripe-2);
}
.stripe__color3 {
  background-color: var(--color-stripe-1);
}

/* offer card styles */

.offer-card {
  background-color: var(--color-offer-card-bg);
  width: 23.5rem;

  border: 2px solid var(--color-stroke-main);
  gap: 1.5rem;
  margin: 0 0.5rem;
  padding: 2rem 1.6rem 2.4rem;
}

.offer-card-time {
}

.offer-card-time p {
  margin-top: 0.2rem;
  font-size: 1.2rem;
}

.offer-card-text-block {
  gap: 1.2rem;
}

.offer-card-paragraph {
  align-items: center;
  gap: 1.2rem;
}

/* calendar styles */
.calendar {
  font-size: 1.6rem;
  background-color: var(--color-offer-card-bg);
  min-height: 43rem;
  gap: 1.6rem;

  border: 2px solid var(--color-stroke-main);
  margin: 2.4rem 0.5rem;
  padding: 2rem 1.6rem 2.4rem;
}

.calendar-header {
  gap: 1.6rem;
}

.calendar-months-slider {
  width: 25rem;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.calendar-img {
  background-image: url(../public/avatar.png);
  background-position: center;
  background-size: cover;

  border: 2px solid var(--color-accent);
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}
.calendar-text {
  font-size: 1.6rem;
}

.calendar-main {
  gap: 1.6rem;
}

.calendar-dates {
  gap: 0.8rem;
}

.calendar-weekdays,
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}

.calendar-weekdays,
.calendar-days div {
  font-size: 1.6rem;
}

.calendar-weekdays {
  font-weight: 600;
}

.currentDay {
  font-weight: 700;
}

/* .currentDay::after {
  content: "";
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  border: 2px solid var(--color-stripe-1);
  border-radius: 100%;
  position: absolute;
  top: -0.7rem;
  left: 3rem;
} */
.bookDay {
  color: var(--color-stripe-2);
  font-weight: 700;
  cursor: pointer;
}

/* .bookDay::after {
  content: "";
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  border: 2px solid var(--color-stripe-2);
  border-radius: 100%;
  position: absolute;
  top: -0.7rem;
  left: 3rem;
} */

/* book lessons form styles */
.book-lesson-form {
  height: 43rem;
  background-color: var(--color-offer-card-bg);
  border: 2px solid var(--color-stroke-main);

  margin: 2.4rem 0.5rem;
  padding: 2rem 1.6rem 2.4rem;
  gap: 1.6rem;
}

.duration,
.time-slots {
  justify-content: left;
  align-items: start;
  gap: 0.8rem;
}

.time-slots {
  overflow: scroll;
}

.book-form-info-container {
  background-color: var(--color-offer-card-bg);
  width: 100%;
  padding: 0.8rem 1.6rem;
}

.confirmation {
  gap: 1.6rem;
}

.confirmation p {
  font-weight: 700;
  color: var(--color-stripe-2);
}
.new-user-data {
  width: 100%;
  justify-content: stretch;
  align-items: start;
  gap: 1.6rem;
}
.new-user-data label {
  font-size: 1.6rem;
}
.new-user-data input {
  width: inherit;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
}

.inputs {
  width: inherit;
  gap: 0.4rem;
  align-items: start;
}

.btn-confirm-group {
  gap: 1.6rem;
}

/* general styles */

.cursor {
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.h-0 {
  height: 0;
}
.h-full {
  height: 100%;
}

.m-center {
  margin: 0 auto;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-md {
  margin-top: 1.8rem;
}

.sections {
  gap: 3rem;
}

.sections-mt {
  margin-top: 2rem;
}

.text-lg {
  font-size: var(--h2-text-size);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-evenly {
  justify-content: space-evenly;
}

.rotate {
  transform: rotate(-10deg);
}

.hide {
  display: none;
}

.opacity-05 {
  opacity: 0.5;
}
.opacity-03 {
  opacity: 0.3;
}

.pos-relative {
  position: relative;
}

.required {
  border: 1px solid red;
}

.errorMessage {
  font-weight: 400 !important;
  color: red !important;
}

.correct {
  border: 1px solid green;
}

.translateBookingForm {
  animation: translateBookings 2s ease-in;
}

@keyframes translateBookings {
  from {
    transform: translateX(68rem);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 400px) {
  :root {
    --h2-text-size: 2.8rem;
  }
  .reviews {
    width: 39rem;
    justify-content: space-between;
  }
  .offer-card {
    width: 20rem;
  }
  .calendar-months-slider {
    width: 29rem;
  }
}
@media only screen and (min-width: 700px) {
  .main {
    margin: 0 auto;
  }
}
